/*       Custom Classes and Ids for me       */

.profile-about{
	margin: 5px;
	float: left;
	max-height: 150px;
	max-width: 150px;
	border: 2px solid black;
}
.image-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.make-border{
	border: 1px solid black;
}
.make-shadow{
	box-shadow: 2px 2px 2px gray;
}
.page-header{
	border-bottom: 1px solid #000;
}
.outline-black {
	border: 4px solid black;
	height: auto;
	max-width: 100%;
}
.outline-thin-black{
	border: 2px solid black;
	height: auto;
	max-width: 100%;
}
.break-margin{
	margin-bottom: 0;
	margin-top: 0;
}
.color-black{
	border-color: #000;
}
.title-resize{
	max-height: 150px;
	max-width: 90%;
}
.touch-date{
	margin-bottom: 0;
}
.project-color,
.read-more-link{
	color: #e74c3c !important;
}
#bio {
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
}
#resize{
	/*Used for profile picture*/
	max-height: 80px;
	max-width: 80px;
}
.haikus{
	font-size:23px;
	color:#da4453;
	font-weight:400;
}
